<div class="home">
  <div class="parallax_background parallax-window" data-parallax="scroll" data-image-src="/images/properties.jpg" data-speed="0.8"></div>
  <div class="home_container">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="home_content d-flex flex-row align-items-end justify-content-start">
            <div class="home_title">Explore Seminars</div>
            <div class="breadcrumbs ml-auto">
              <ul>
                <li><a href="/">Home</a></li>
                <li>Explore Seminars</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Home Search -->
<div class="home_search">
  <div class="container">
    <div class="row">
      <div class="col">

      </div>
    </div>
  </div>
</div>

<!-- Properties -->

<div class="properties">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="section_title">{{fetchCourse.coaching_title}} offers {{courseCount}} courses</div>
        <div class="section_subtitle">Join courses today and beat the competitions</div>
      </div>
    </div>
    <div class="row properties_row">

      <!-- Property -->
      {{#each courses}}

      <div class="col-xl-4 col-lg-6 property_col">
        <div class="property">
          <div class="property_image">
            <img src="/images/footer_main.jpg" alt="" height="200" width="100%">
            <div class="tag_featured property_tag"><a href="#">Featured</a></div>
          </div>
          <div class="property_body text-center">
            <div class="property_title"><a href="#">{{course_name}}</a></div>
            <div class="button recent_button"><a href="/coaching/courses/course-detail/{{_id}}">View Course</a></div>
          </div>
          <div class="property_footer d-flex flex-row align-items-center justify-content-center">
            <div><span class="mr-1">Duration -</span><span>{{course_duration}} hours</span></div>
            <div><span>₹ &nbsp;{{course_price}}</span></div>
            <div><span>{{course_seats}} Seats &nbsp;</span></div>

          </div>
        </div>
      </div>
      {{/each}}
      </div>


      <!-- Property -->
      <!-- <div class="col-xl-4 col-lg-6 property_col">
        <div class="property">
          <div class="property_image">
            <img src="/images/property_8.jpg" alt="">
          </div>
          <div class="property_body text-center">
            <div class="property_location">San Francisco</div>
            <div class="property_title"><a href="property.html">Sea view property</a></div>
            <div class="property_price">$ 1. 234 981</div>
          </div>
          <div class="property_footer d-flex flex-row align-items-center justify-content-start">
            <div><div class="property_icon"><img src="/images/icon_1.png" alt=""></div><span>650 Ftsq</span></div>
            <div><div class="property_icon"><img src="/images/icon_2.png" alt=""></div><span>3 Bedrooms</span></div>
            <div><div class="property_icon"><img src="/images/icon_3.png" alt=""></div><span>3 Bathrooms</span></div>
          </div>
        </div>
      </div> -->

      <!-- Property -->
      <!-- <div class="col-xl-4 col-lg-6 property_col">
        <div class="property">
          <div class="property_image">
            <img src="/images/property_9.jpg" alt="">
          </div>
          <div class="property_body text-center">
            <div class="property_location">Miami</div>
            <div class="property_title"><a href="property.html">Sea view property</a></div>
            <div class="property_price">$ 1. 234 981</div>
          </div>
          <div class="property_footer d-flex flex-row align-items-center justify-content-start">
            <div><div class="property_icon"><img src="/images/icon_1.png" alt=""></div><span>650 Ftsq</span></div>
            <div><div class="property_icon"><img src="/images/icon_2.png" alt=""></div><span>3 Bedrooms</span></div>
            <div><div class="property_icon"><img src="/images/icon_3.png" alt=""></div><span>3 Bathrooms</span></div>
          </div>
        </div>
      </div> -->

    </div>

      <!-- <div class="container text-center" >
        <div class="row">
          <div class="col">
            <div class="pagination">
              <ul>
                Jump To:
                {{#times pages}}
                  <li class="active" style="border:1px solid pink; padding:5px 10px;margin-right:10px;"><a href="/seminar/{{this}}">{{this}}</a></li>
                {{/times}}
              </ul>
            </div>
          </div>
        </div>
      </div>

 -->

  </div>
</div>

<!-- Newsletter -->

<div class="newsletter">
  <div class="parallax_background parallax-window" data-parallax="scroll" data-image-src="/images/newsletter.jpg" data-speed="0.8"></div>
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="newsletter_content d-flex flex-lg-row flex-column align-items-start justify-content-start">
          <div class="newsletter_title_container">
            <div class="newsletter_title">Are you buying or selling?</div>
            <div class="newsletter_subtitle">Search your dream home</div>
          </div>
          <div class="newsletter_form_container">
            <form action="#" class="newsletter_form">
              <input type="email" class="newsletter_input" placeholder="Your e-mail address" required="required">
              <button class="newsletter_button">subscribe now</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Footer -->
