
	<!-- Recent -->
<link rel="stylesheet" href="/styles/mycss.css">

<center>
  <div class="front-ui-background container">

    <div class="">
      <img src="/images/background1.png" class="e-gaming-logo">
    </div>
    <div class="">
      <p id="home-gif"></p>
    </div>
    <div class="">
      <img src="/images/gamepad.png" class="e-gaming-image"><br>
      <a href="#section2" class="btn-floating white pulse">
      </a>
    </div>
  </div>
</center>
<!-- Pulse Buton -->
<div align="center" style="margin-top:-200px;">
  <div class="container">
    <button class="pulse-button"></button>
  </div>
</div>
<!-- Pulse Buton finishes -->

<!--Seminar section starts -->
	<div class="recent" style="background:#eff2f6;">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="section_title">Recent Seminars</div>
					<div class="section_subtitle">Learn&nbsp;|&nbsp; Improve&nbsp; |&nbsp; Grow</div>
				</div>
			</div>
      {{message.info}}
			<div class="row recent_row">
				<div class="col">
					<div class="recent_slider_container">
						<div class="owl-carousel owl-theme recent_slider">
              {{#if seminarfetched6}}
              {{#each seminarfetched6}}
							<!-- Slide -->
							<div class="owl-item">
								<div class="recent_item">
                  <a href="/seminar/detail/{{id}}">
									<div class="recent_item_inner">
										<div class="recent_item_image">
                      <!-- <img src="/uploads/{{seminar_image}}" alt="" height="200px"> -->
                      <img src="/uploads/1557207744749-cs.jpg" alt="" height="200px">
											<!-- <div class="tag_featured property_tag"><a href="#">Featured</a></div> -->
										</div>
										<div class="recent_item_body text-center">
											<div class="recent_item_location">{{seminar_gamename}}</div>
											<div class="recent_item_title"><a href="/seminar/detail/{{id}}">{{seminar_title}}</a></div>
											<!-- <div class="button recent_button"><a href="/seminar/detail/{{id}}">View Details</a></div> -->
										</div>
										<div class="recent_item_footer d-flex flex-row align-items-center justify-content-center">
											<div><span>{{seminar_city}}</span></div>
											<div><div class="recent_icon"><img src="/images/event-calender.png" alt=""></div>{{formatTime seminar_date "DD/MM/YYYY"}}<span>
                      </span></div>
                      <div><span>₹ {{seminar_price}}</span></div>
											<!-- <div><div class="recent_icon"><img src="images/icon_3.png" alt=""></div><span>3 Bathrooms</span></div> -->
										</div>
									</div>
                </a>
								</div>
							</div>
              {{/each}}
              {{/if}}
        	</div>
						<div class="recent_slider_nav_container d-flex flex-row align-items-start justify-content-start">
							<div class="recent_slider_nav recent_slider_prev"><i class="fa fa-chevron-left" aria-hidden="true"></i></div>
							<div class="recent_slider_nav recent_slider_next"><i class="fa fa-chevron-right" aria-hidden="true"></i></div>
						</div>
					</div>
					<div class="button recent_button"><a href="/seminar/1">see more</a></div>
				</div>
			</div>
		</div>
	</div>
<!--Seminar Section Finishes-->

<!--Articles Starts -->
	<div class="recent" style="background:#ffffff;">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="section_title">Articles</div>
					<div class="section_subtitle">Get to know about new skills</div>
				</div>
			</div>
      {{message.info}}
			<div class="row recent_row">
				<div class="col">
					<div class="recent_slider_container">
						<div class="owl-carousel owl-theme recent_slider">
              {{#if articlefetched6}}
              {{#each articlefetched6}}
							<!-- Slide -->
							<div class="owl-item">
								<div class="recent_item">
                  <a href="/article/detail/{{id}}">
									<div class="recent_item_inner">
										<div class="recent_item_image">
                      <!-- <img src="/uploads/{{seminar_image}}" alt="" height="200px"> -->
                      <img src="/uploads/1557207744749-cs.jpg" alt="" height="200px">
											<!-- <div class="tag_featured property_tag"><a href="#">Featured</a></div> -->
										</div>
										<div class="recent_item_body text-center">
											<!-- <div class="recent_item_location">{{seminar_gamename}}</div> -->
											<div class="recent_item_title"><a href="/seminar/detail/{{id}}">{{article_title}}</a></div>
											<!-- <div class="button recent_button"><a href="/seminar/detail/{{id}}">View Details</a></div> -->
										</div>
										<!-- <div class="recent_item_footer d-flex flex-row align-items-center justify-content-center">
											<div><span>{{seminar_city}}</span></div>
											<div><div class="recent_icon"><img src="/images/event-calender.png" alt=""></div><span>21/05/2019</span></div>
                      <div><span>₹ {{seminar_price}}</span></div>
										</div> -->
									</div>
                </a>
								</div>
							</div>
              {{/each}}
              {{/if}}
        	</div>
						<div class="recent_slider_nav_container d-flex flex-row align-items-start justify-content-start">
							<div class="recent_slider_nav recent_slider_prev"><i class="fa fa-chevron-left" aria-hidden="true"></i></div>
							<div class="recent_slider_nav recent_slider_next"><i class="fa fa-chevron-right" aria-hidden="true"></i></div>
						</div>
					</div>
					<div class="button recent_button"><a href="/seminar/1">see more</a></div>
				</div>
			</div>
		</div>
	</div>
<!--Seminar Section Finishes-->

<!-- Artice Finishes -->


  <!--Competition section starts -->

  	<div class="recent" style="background: #eff2f6;">
  		<div class="container">
  			<div class="row">
  				<div class="col">
  					<div class="section_title">Recent Competition</div>
  					<div class="section_subtitle">Fight the competition and Beat the Gamers</div>
  				</div>
  			</div>
  			<div class="row recent_row">
  				<div class="col">
  					<div class="recent_slider_container">
  						<div class="owl-carousel owl-theme recent_slider">
                {{#if competitionfetched6}}
                {{#each competitionfetched6}}
  							<!-- Slide -->
  							<div class="owl-item">
  								<div class="recent_item">
                    <a href="/competition/detail/{{id}}">
  									<div class="recent_item_inner">
  										<div class="recent_item_image">
                        <img src="/uploads/1557235108603-cod.jpg" alt="" height="200px">
                        <!-- {{#ifCond competition_isPremium "on"}}
  											<div class="tag_featured property_tag"><a href="#">Featured</a></div>
                        {{/ifCond}} -->
  										</div>
  										<div class="recent_item_body text-center">
  											<div class="recent_item_location">{{competition_gametype}}</div>
  											<div class="recent_item_title"><a href="/competition/detail/{{id}}">{{competition_title}}</a></div>
  											<!-- <div class="button recent_button"><a href="/competition/detail/{{id}}">View Details</a></div> -->
  										</div>
  										<div class="recent_item_footer d-flex flex-row align-items-center justify-content-center">
  											<div><span>{{competition_city}}</span></div>
  											<div><div class="recent_icon"><img src="/images/event-calender.png" alt=""></div><span>{{formatTime competition_date "DD/MM/YYYY"}}</span></div>
                        <div><span>₹ {{competition_price}}</span></div>
  											<!-- <div><div class="recent_icon"><img src="images/icon_3.png" alt=""></div><span>3 Bathrooms</span></div> -->
  										</div>
  									</div>
                  </a>
  								</div>
  							</div>
                {{/each}}
                {{/if}}
          	</div>
  						<div class="recent_slider_nav_container d-flex flex-row align-items-start justify-content-start">
  							<div class="recent_slider_nav recent_slider_prev"><i class="fa fa-chevron-left" aria-hidden="true"></i></div>
  							<div class="recent_slider_nav recent_slider_next"><i class="fa fa-chevron-right" aria-hidden="true"></i></div>
  						</div>
  					</div>
  					<div class="button recent_button mb-4"><a href="/competition/1">see more</a></div>
  				</div>
  			</div>
      </div>
        <!--Coaching section starts -->
        	<div class="recent" style="background:#ffffff;">
        		<div class="container">
        			<div class="row">
        				<div class="col">
        					<div class="section_title">E-Gaming
                    Coachings</div>
        					<div class="section_subtitle">Learn&nbsp;|&nbsp; Improve&nbsp; |&nbsp; Grow</div>
        				</div>
        			</div>
              {{message.info}}
        			<div class="row recent_row">
        				<div class="col">
        					<div class="recent_slider_container">
        						<div class="owl-carousel owl-theme recent_slider">
                      {{#if coachingfetched6}}
                      {{#each coachingfetched6}}
        							<!-- Slide -->
        							<div class="owl-item">
        								<div class="recent_item">
                          <a href="/coaching/detail/{{id}}">
        									<div class="recent_item_inner">
        										<div class="recent_item_image">
                              <!-- <img src="/uploads/{{seminar_image}}" alt="" height="200px"> -->
                              <img src="/uploads/1557207744749-cs.jpg" alt="" height="200px">
        											<!-- <div class="tag_featured property_tag"><a href="#">Featured</a></div> -->
        										</div>
        										<div class="recent_item_body text-center">
        											<div class="recent_item_title"><a href="/coaching/detail/{{id}}">{{coaching_title}}</a></div>
        											</div>
        									</div>
                        </a>
        								</div>
        							</div>
                      {{/each}}
                      {{/if}}
                	</div>
        						<div class="recent_slider_nav_container d-flex flex-row align-items-start justify-content-start">
        							<div class="recent_slider_nav recent_slider_prev"><i class="fa fa-chevron-left" aria-hidden="true"></i></div>
        							<div class="recent_slider_nav recent_slider_next"><i class="fa fa-chevron-right" aria-hidden="true"></i></div>
        						</div>
        					</div>
        					<div class="button recent_button"><a href="/coaching/1">see more</a></div>
        				</div>
        			</div>
        		</div>
        	</div>
        <!--Seminar Section Finishes-->

  		</div>
  	</div>
  <!--competition Section Finishes-->

	<!-- Testimonials -->


	<!-- Newsletter -->

	<div class="newsletter">
		<div class="parallax_background parallax-window" data-parallax="scroll" data-image-src="images/footer_main.jpg" data-speed="0.8"></div>
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="newsletter_content d-flex flex-lg-row flex-column align-items-start justify-content-start">
						<div class="newsletter_title_container">
							<div class="newsletter_title" style="font-size:25px;">Know about the latest <br><br>  seminars and articles <br><br> of your favourite e-gamer</div>
							<!-- <div class="newsletter_subtitle">We'll notify you of new seminars and competitions</div> -->
						</div>
						<div class="newsletter_form_container">
							<form action="#" class="newsletter_form">
								<input type="email" class="newsletter_input" placeholder="Your e-mail address" required="required">
								<button class="newsletter_button">subscribe now</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
